In [1]:
import pandas as pd
import numpy as np
from resume_parser import resumeparse
import os

/Users/rohitsanam/opt/anaconda3/lib/python3.8/site-packages/spacy/util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.2 and is incompatible with the current spaCy version (2.3.5). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [2]:
pdf_resumes = [resume for resume in os.listdir() if resume.endswith('.pdf')]

In [3]:
pdf_resumes

['Gupta’s resume.pdf',
 'Ranjani’s resume.pdf',
 'Anil’s resume-3.pdf',
 'Muthamil’s resume-1.pdf']

In [4]:
for resume in range(len(pdf_resumes)):
    data = resumeparse.read_file(pdf_resumes[resume])
    print(data)
    print()
    resume = resume+1

2021-12-14 18:47:28,446 [MainThread  ] [INFO ]  Retrieving http://search.maven.org/remotecontent?filepath=org/apache/tika/tika-server/1.24/tika-server-1.24.jar to /var/folders/80/jm4pt7dn3c5__w0hkxm6fb3h0000gn/T/tika-server.jar.
2021-12-14 18:47:57,128 [MainThread  ] [INFO ]  Retrieving http://search.maven.org/remotecontent?filepath=org/apache/tika/tika-server/1.24/tika-server-1.24.jar.md5 to /var/folders/80/jm4pt7dn3c5__w0hkxm6fb3h0000gn/T/tika-server.jar.md5.
2021-12-14 18:47:58,637 [MainThread  ] [WARNI]  Failed to see startup log message; retrying...

{'email': 'gvvishnumk@gmail.com', 'phone': '+9505360853', 'name': 'VISHNUVARDHAN NAIDU', 'total_exp': 0, 'university': [], 'designition': ['devops', 'devops engineer', 'noc engineer', 'balancer'], 'degree': ['Bachelors in B.com Computers'], 'skills': [':', 'Key Projects:', 'Roles and Responsibilities:', 'Roles and Responsibilities: (1) Known : English', ' Hindi', ' and Telugu.', 'Current Location : Anantapur.', 'DECLARATION', 'I do hereby declare that the above information is true to the best of my knowledge.', 'Place: Signature', 'Date: (Gupta Vishnuvardhan Naidu)', 'KEY SKILLS AND PROFESSIONAL EXPERIENCE SUMMARY'], 'Companies worked at': ['Amazon', 'NOC Engineer', 'Devops Engineer Company: Evolutionary Systems Pvt. Ltd.']}

{'email': 'ranju.jana20@gmail.com', 'phone': '+91 7708509272', 'name': 'RANJANI B.J', 'total_exp': 2, 'university': [], 'designition': ['devops', 'devops engineer', 'operator'], 'degree': [], 'skills': ['Kubernetes', ' Ansible', ' Docker', ' AWS', ' Terraform', ' Python.'], 'Companies worked at': []}

{'email': 'anilkdahiya08@gmail.com', 'phone': '+91-9607225237', 'name': '', 'total_exp': 0, 'university': [], 'designition': ['devops', 'senior principal', 'principal engineer', 'cloud architect', 'balancer', 'senior principal software engineer', 'principal software engineer', 'software engineer', 'technical lead', 'devops consultant', 'associate', 'product engineer', 'senior software engineer', 'systems engineer'], 'degree': ['Bachelor of Computer Engineering'], 'skills': ['microsoft azure', 'aws', 'containerization', 'edge', 'replication', 'plus', 'ltd', 'linux kernel', 'sql', 'amazon', 'file servers', 'linux', 'web', 'vlan', 'embedded', 'horizon', 'mac', 'kernel', 'scripting', 'ip', 'debugging', 'rackspace', 'bigtable', 'network security', 'web applications', 'database', 'ldap', 'architecture', 'ec2', 'python', 'crio', 'device drivers', 'eclipse', 'pipelines', 'cgl', 'red hat', 'connectivity', 'jenkins', 'cloud computing', 'design', 'ict', 'windriver', 'ubuntu', 'security', 'enterprise', 'ipv4', 'sas', 'auditing', 'dns server', 'routing', 'vmware', 'mac os', 'fips', 'configuration management', 'heat', 'google', 'mobility', 'mobile', 'atca', 'keystone', 'devops', 'nis', 'ansible', 'aggregation', 'servers', 'centos', 'android', 'apache', 'authentication', 'communications', 'lxc', 'app', 'ipc', 'google cloud', 'one', 'intel', 'mysql', 'operating systems', 'drbd', 'yarn', 'devices', 'thin', 'netfilter', 'rhel', 'symphony', 'versioning', 'technical proficiency', 'docker', 'strace', 'load', 'virtual machines', 'encryption', 'protocol', 'throughput', 'link aggregation', 'microsoft', 'azure', 'cluster', 'im', 'openshift', 'c', 'cd', 'kerberos', 'tcpdump', 'kubernetes', 'git', 'vendor management', 'vista', 'shell scripting', 'ssl', 'family', 'storage', 'live', 'computing', 'x86', 'access', 'vm', 'openssl', 'automation', 'application', 'it', 'framework', 'xcode', 'cloud', 'active directory', 's3', 'openstack', 'space', 'languages', 'email', 'leadership', 'technology', 'resolve', 'ci', 'computer engineering', 'network configuration', 'hadoop', 'rbac', 'vsts', 'neutron', 'assembly'], 'Companies worked at': ['T Systems ICT India Pvt Ltd', 'Google DataPoc Apache Hadoop Services', 'Hashmap Tech India Pvt Ltd', 'AgreeYa Mobility India Pvt Ltd', 'Calsoft Pvt Ltd', 'Emerson Network Power Pvt Ltd', 'http://www.emersonnetworkpower.com Joined Motorola India Pvt Ltd', 'Systems Engineer NeoAccel India Pvt Ltd', 'Node Infotech Pvt Ltd']}

{'email': 'muthamilselvamn@gmail.com', 'phone': '+918667722018', 'name': 'MUTHAMIL SELVAM', 'total_exp': 0, 'university': ['sastra deemed university'], 'designition': ['devops', 'system engineer', 'technical lead', 'database administrator'], 'degree': [], 'skills': ['Shell Scripting', 'Hands-on experience in developing shell scripts for Running and Deploying applications', ' Executing', 'routine backups for databases', ' Monitor several tasks like disk usage', ' etc. on Linux Servers.', 'UNIX', 'Creating cron jobs for timed restart of services', ' Database Management/alerting using mutt or mailx', 'utilities and RHEL (Red Hat Enterprise Linux) file system activities', ' etc.', 'Redhat JBOSS Administration', 'Hands-on Experience on building', ' setting-up', ' hosting Java applications on JBoss Enterprise', 'Application Platform and also configuring/upgrading JBoss EAP.', 'Sound understanding of OOPS concepts and a good knowledge in Core Java. Also knows C', ' C++ and', 'Python. Have interest in working on any new technologies.', 'DevOps', 'Sound understanding and Hands-on Experience in CI/CD deployments and basic knowledge and', 'experience on various DevOps tools.', 'Good communication', ' Quick learning and Problem-Solving Skills.'], 'Companies worked at': []}

In [5]:
data = resumeparse.read_file('Gupta’s resume.pdf')
data  = print(data['phone'])
data_series = pd.Series(data)
df = pd.DataFrame(data_series)

data_1 = resumeparse.read_file('Ranjani’s resume.pdf')
data_1_series = pd.Series(data_1)
df1 = pd.DataFrame(data_1_series)

data_2 = resumeparse.read_file('Anil’s resume-3.pdf')
data_2_series = pd.Series(data_2)
df2 = pd.DataFrame(data_2_series)

data_3 = resumeparse.read_file('Muthamil’s resume-1.pdf')
data_3_series = pd.Series(data_3)
df3 = pd.DataFrame(data_3_series)

df = df.T

df1 = df1.T

df2 = df2.T

df3 = df3.T

+9505360853

<ipython-input-5-419daf4b5741>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  data_series = pd.Series(data)

In [16]:
df

                  email  ...                                Companies worked at
0  gvvishnumk@gmail.com  ...  [Amazon, NOC Engineer, Devops Engineer Company...

[1 rows x 9 columns]

In [17]:
df1

                    email  ... Companies worked at
0  ranju.jana20@gmail.com  ...                  []

[1 rows x 9 columns]

In [18]:
df2

                     email  ...                                Companies worked at
0  anilkdahiya08@gmail.com  ...  [T Systems ICT India Pvt Ltd, Google DataPoc A...

[1 rows x 9 columns]

In [19]:
df3

                       email  ... Companies worked at
0  muthamilselvamn@gmail.com  ...                  []

[1 rows x 9 columns]

In [20]:
final_df = pd.concat([df,df1,df2,df3])

In [21]:
final_df

                       email  ...                                Companies worked at
0       gvvishnumk@gmail.com  ...  [Amazon, NOC Engineer, Devops Engineer Company...
0     ranju.jana20@gmail.com  ...                                                 []
0    anilkdahiya08@gmail.com  ...  [T Systems ICT India Pvt Ltd, Google DataPoc A...
0  muthamilselvamn@gmail.com  ...                                                 []

[4 rows x 9 columns]

In [22]:
final_df.to_csv('pdfresumesparsed.csv')

In [ ]:
data = resumeparse.read_file('Gupta’s resume.pdf')
data  = print(data['p'])
data_series = pd.Series(data)
df = pd.DataFrame(data_series)